@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  box-sizing: border-box;
  color: white;
}
body {
  background-color: rgba(27, 27, 27);
  width: 98%;
  margin: 0 auto;
}
.headernav {
  background-image: linear-gradient(to right, #f0ca04 0%, #ffdf3e 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  border-radius: 5px;
  min-height: 70px;
}
.imglogo {
  cursor: pointer;
  width: 90px;
  height: auto;
  margin-right: 15px;
}
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}
.links li {
  display: inline;
  border-left: 1px solid white;
  padding: 5px;
}
.links li a {
  text-decoration: none;
  color: #fdfffc;
  font-weight: 700;
}
.links li a:hover {
  color: #235789;
  border-bottom: 2px solid white;
}
.busquedainicio {
  padding: 6px;
  border: none;
  font-size: 17px;
  border-radius: 20px;
}
.btnbusqueda {
  border: none;
  background-color: #ffdf3e;
}
.fa-shopping-cart {
  width: 30px;
}
.fa-search {
  width: 10px;
  color: #000;
}
.activo {
  border-bottom: 2px solid rgb(0, 68, 255);
}
.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  margin-top: 15PX;
  margin-bottom: 15PX;
}
.titulo h1{
  font-size: xx-large;
  font-weight: 900;
}

.splash {
  margin-top: 20px;
  width: 100%;
  height: 550px;
  background: url("/imagenes/home.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: rgb(121, 121, 121);
  text-shadow: #0525dd;
}
.galeria {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
}
.galeria2 {
  display: grid;
  grid-template-columns: repeat(2 1fr);
  grid-template-rows: repeat(1, );
  grid-gap: 15px;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}
.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

.elementos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 70px 0;
}

.elementos img {
  width: 90%;
  height: 180px;
  border-radius: 10px;
}

.elementos h3 {
  font-size: 20px;
  margin: 10px 0;
  justify-content: center;
}
.articulo {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: justify;
  background-color: #0080e9;
  border-radius: 10px;
  margin: 10px;
  padding: 40px;
}

.elementos a {
  padding: 10px 0;
  color: #f2f2f2;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
}
.social {
  margin: 50px;
}
.social p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.linksredes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.linksredes a {
  margin: 0 30px;
}

.linksredes a i {
  font-size: 3rem;
}
.footer-links {
  background: #2f3640;
  color: #616161;
  font-size: 12px;
  padding: px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}
.footer-container ul {
  margin: 0 auto;
  list-style: none;
}
.footer-links li {
  line-height: 2.8;
}
.footer {
  background: #2f3640;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
}
.centrado3 {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.centrado3 p {
  text-align: center;
}
.pie1 nav li {
  display: inline-block;
}
.pie2 {
  display: block;
}
.contacto{
  max-width: 750px;
  min-height: 350px;
	background: #414850b9;
	padding: 50px;
	margin: 30px auto;	
	border-radius: 20px;
}
.contacto ul{
	padding:0;
	margin:0;
	list-style:none;
  width: 100%;
	height: 100px;
}
.contacto li{
	display: block;
	margin-bottom: 10px;
}
.contacto ul li textarea{
	width: 100%;
	height: 100px;
}
.contacto ul li input[type="submit"] {
	background-color: #bacc15;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
  width: 650px;
}